:root {
  --bg-color: #444;
  --color-green: #7cfc11;
  --color-dull-white: #ddd;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--color-dull-white);
  font-size: 16px;
  font-family: monospace;
}

h2 {
  font-size: larger;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 0.5rem;
}

.container .heading {
  color: var(--color-green);
}

.container h1 {
  text-align: center;
}

.project-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-description {
  margin: 0.5rem;
  padding: 0rem 0.5rem;
  width: 30%;
}

.highlight {
  color: var(--color-green);
}

.extra-div a {
  color: var(--color-dull-white);
}

.extra-div a:hover {
  color: var(--color-green);
  cursor: pointer;
}

.button {
  margin-top: 0.5rem;
  display: flex;
}

.button a {
  text-decoration: none;
  color: var(--color-green);
  padding-right: 1rem;
}

.button a:hover {
  color: var(--color-dull-white);
  text-decoration: underline;
}

/* footer */

#footer {
  height: 3.75em;
  bottom: 0;
  width: 90%;
  max-width: 1040px;
  margin: 0 auto;
  font-size: 16px;
}

#footer a {
  color: var(--color-dull-white);
}

#footer a:hover {
  color: var(--color-green);
  cursor: pointer;
}

.wrapper {
  display: flex;
  font-size: 0.75em;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.wrap {
  font-size: 1.25em;
}

.social-icons a {
  padding-right: 0.875em;
  opacity: 0.85;
  display: inline-block;
}

.social-icons a:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .project-description {
    width: 100%;
  }

  #footer {
    font-size: 14px;
  }
}
