body,div,padding,input,p,img{
    margin:0;
    padding:0;
    border:0;
}

body,html{
    color:#DDD;
}

div#content{
	margin-left: 1%
}

div#content{
	font: 1em Consolas, monaco, monospace;
}

a:link, a:visited{
    color:#DDD;
}

div#top_line{

}

div#header{
	margin-top:1%;
}

div#footer{
	text-align: center;
}

div.topic_header{
	color: #7CFC11;
	margin-top:2%;
}

div.body_text{
	margin-left:5%;
}

div.:nth-child(odd){
	background-color: #444;
}
div.:nth-child(even){
	background-color: #222;
}

div.body_text:last-chid{
	//center
}

.linko{
	display: inline-block;
}
body {
    background-color: black;
}
#head {
    font-family: monospace;
    color: #7CFC11;
    margin: auto;
    padding: 35px;
    font-size: 40px;
    text-align: center;
}
#bar {
    text-align: center;
    width: 1050px;
    height: 25px;
    background-color: #DAD9D9;
    margin: 0 auto;
    font-family: monospace;
    padding: auto;
    float: none;
    border-radius: 5px 5px 0px 0px;
}
#red {
    background-color: #E94B35;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -47%;
    bottom: -20%;
    position:relative;
}
#red:hover {
    background-color: #c65037;
}
#yellow {
    background-color: #f2cb41;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -44%;
    bottom: 40%;
    position:relative;
    display: block;
}
#yellow:hover {
    background-color: #c8ac41;
}
#green {
    background-color: #1AAF5C;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -41%;
    bottom: 99%;
    position:relative;
    display: block;
}
#green:hover {
    background-color: #078650;
}
#screen {
    background-color: #33485E;
    width: 1050px;
    height: 600px;
    border-radius: 0;
    margin: 0 auto;
    padding: 1px;
    max-height: 600px;
    overflow-y: scroll;
}
.font {
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    position: static;
}
.cursor {
	font-family: monospace;
  font-weight:600;
  color: #7CFC11;
}
.cursor:after {
	content:"_";
	opacity: 0;
	animation: cursor 1s infinite;
}
@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}





.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-bottom: 50px;
}
.list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.social-icons .fa {
    font-size: 1.8em;
    transform: rotate(-90deg);
}

.social-icons .fa {
    width: 30px;
    height: 30px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
    border-radius: 50%;
}
.social-icons.icon-rounded .fa{
    border-radius:5px;
}

.social-icons .fa:hover, .social-icons .fa:active {
    color: #FFF;
    -webkit-box-shadow: 1px 1px 3px #333;
    -moz-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
    -webkit-transform: scale(1.1) rotate(-90deg);
    -moz-transform: scale(1.1) rotate(-90deg);
    -ms-transform: scale(1.1) rotate(-90deg);
    -o-transform: scale(1.1) rotate(-90deg);
    transform: scale(1.7) rotate(-90deg); 
}

.wrapper
{
    float: right;
    padding-right: 50px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: -1;
    margin-right: 40px; 
}
.middle {

}

@media screen and (max-width: 1350px) {
        .social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.7); 
        }
        .wrapper
        {
    padding-top: 20px;
    float: right;
    padding-right: 50px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    z-index: -1;
        }
        
        .social-icons .fa {
    font-size: 1.8em;
    transform: rotate(0deg);
        }
}
