@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import "tailwindcss";

@layer base {
  html {
    font-size: 110%;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #efefef;
  color: #252525;
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

